## Importing the dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
creditcard_data = pd.read_csv('C:/Users/Admin/Downloads/creditcard.csv')

In [3]:
creditcard_data.shape

(284807, 31)

In [4]:
creditcard_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
creditcard_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
creditcard_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.918649e-15,5.682686e-16,-8.761736e-15,2.811118e-15,-1.552103e-15,2.040130e-15,-1.698953e-15,-1.893285e-16,-3.147640e-15,...,1.473120e-16,8.042109e-16,5.282512e-16,4.456271e-15,1.426896e-15,1.701640e-15,-3.662252e-16,-1.217809e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [7]:
creditcard_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
## distribution of ligit transaction and fraudulant transaction

In [9]:
creditcard_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [10]:
# dataset is highly unbalanced

In [11]:
### 0 >>>>  normal transaction, 1 >>>>> fraudulant transaction

In [13]:
legit = creditcard_data[creditcard_data.Class == 0]
fraud = creditcard_data[creditcard_data.Class == 1]

In [14]:
legit.shape

(284315, 31)

In [16]:
fraud.shape

(492, 31)

In [17]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [18]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [19]:
creditcard_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

## Under Sampling

In [20]:
# Build a sample dataset having similar distribution of normal/legit transaction and fraud transaction

In [21]:
legit_sample = legit.sample(n = 492)

In [23]:
new_dataset = pd.concat([legit_sample,fraud])

In [24]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
28202,34900.0,-0.048970,0.485581,0.385888,-0.261577,0.693394,0.128205,1.482957,-0.346121,-0.786916,...,0.052386,0.146678,-0.006087,-0.794598,-0.041472,0.277543,-0.201708,-0.206734,128.90,0
106358,69935.0,-3.403656,3.387661,-1.392512,-0.176681,-1.513930,-1.022640,-1.071371,2.110905,-0.168636,...,-0.263931,-0.922572,0.210324,-0.207102,0.358284,0.140207,0.262377,0.135480,10.13,0
85431,60770.0,-1.197350,0.675071,-2.865196,2.103392,0.913561,-1.832707,0.143829,0.642262,-0.611872,...,-0.050405,-0.051894,0.795518,-0.259227,-0.355093,-0.362033,0.139622,-0.604336,4.49,0
271944,164828.0,-4.823353,3.057465,-0.911386,-5.266509,2.959453,6.133220,-2.893181,-15.024910,4.294388,...,-3.510381,0.705276,0.864716,0.514917,-1.114188,-1.491581,-4.444591,-3.264018,3.62,0
161220,113997.0,-1.227042,1.034897,-0.190888,2.506399,0.769838,0.828512,1.204507,0.483533,-2.102135,...,0.375096,0.671703,-0.237165,0.158184,-0.191002,0.022188,-0.021343,-0.033196,184.91,0

In [25]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [26]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94725.603659,-0.023198,-0.201785,-0.115588,0.042183,0.109097,0.051952,0.117124,-0.054256,-0.003835,...,0.084051,0.011136,-0.085662,0.015871,0.007191,-0.004945,-0.007156,-0.036385,-0.018247,130.983313
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [27]:
## Spliting the data

In [28]:
X = new_dataset.drop(columns='Class', axis=1)
y = new_dataset['Class']

In [29]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
28202,34900.0,-0.048970,0.485581,0.385888,-0.261577,0.693394,0.128205,1.482957,-0.346121,-0.786916,...,0.372485,0.052386,0.146678,-0.006087,-0.794598,-0.041472,0.277543,-0.201708,-0.206734,128.90
106358,69935.0,-3.403656,3.387661,-1.392512,-0.176681,-1.513930,-1.022640,-1.071371,2.110905,-0.168636,...,0.393329,-0.263931,-0.922572,0.210324,-0.207102,0.358284,0.140207,0.262377,0.135480,10.13
85431,60770.0,-1.197350,0.675071,-2.865196,2.103392,0.913561,-1.832707,0.143829,0.642262,-0.611872,...,-0.163891,-0.050405,-0.051894,0.795518,-0.259227,-0.355093,-0.362033,0.139622,-0.604336,4.49
271944,164828.0,-4.823353,3.057465,-0.911386,-5.266509,2.959453,6.133220,-2.893181,-15.024910,4.294388,...,3.170632,-3.510381,0.705276,0.864716,0.514917,-1.114188,-1.491581,-4.444591,-3.264018,3.62
161220,113997.0,-1.227042,1.034897,-0.190888,2.506399,0.769838,0.828512,1.204507,0.483533,-2.102135,...,-0.348348,0.375096,0.671703,-0.237165,0.158184,-0.191002,0.022188,-0.021343,-0.033196,184.91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [30]:
y

28202     0
106358    0
85431     0
271944    0
161220    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [31]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2,stratify=y)

In [32]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(787, 30)
(197, 30)
(787,)
(197,)

In [33]:
model = LogisticRegression()

In [34]:
model.fit(X_train,y_train)

LogisticRegression()

In [35]:
X_train_prediction = model.predict(X_train)
train_accuracy = accuracy_score(X_train_prediction,y_train)

In [36]:
train_accuracy

0.9364675984752223

In [37]:
X_test_prediction = model.predict(X_test)
test_accuracy = accuracy_score(X_test_prediction,y_test)

In [38]:
test_accuracy

0.9035532994923858

In [39]:
# Building a predictive system

In [42]:
input_data = (83936,-0.0458626418350523,0.866757805838873,-0.214536611611453,0.0715492720279935,0.839006603997021,0.71562326859889,0.184130002889942,0.353106460429462,0.400172895616967,-0.364004085200642,0.323020601256789,0.733549148474435,0.632199793594806,-1.81750670967019,-0.94077089235711,0.333961015795563,0.551996065336457,0.541564850773578,0.320666248144693,0.229657522547218,-0.174211988087088,-0.0332687037466623,-0.131100214214067,-1.40735703909933,-0.131998272270863,0.387284731024491,0.349914607492973,0.0619435521645204,12.31)
input_data_as_numpy_array = np.asarray(input_data)
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)

if (prediction[0]==1):
    print('It is a fraud transaction')
else:
    print('It is a legit transaction')

It is a legit transaction

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(